* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/Bg-min.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main {
    opacity: 0.2;
    height: 100vh;
    position: relative;
    top: 0;
    overflow: hidden;
}

/* -----guidline---- */
.modal {
    display: none;
}

.guidline {
    position: absolute;
    top: 50%;
    margin: 5vw;
    transform: translateY(-50%);
    background-image: url(../img/guideBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 4vw;
    z-index: 3;
}

.guide-text {
    width: 50vw;
    margin: 0 auto;
    margin-top: -5vw;
}

.close-btn {
    margin-top: -10vw;
    float: right;
    width: 10vw;
    margin-right: -3vw;
}

button {
    background: transparent;
    border: none;
}

.rules {
    width: 90%;
    max-height: 70vh;
    overflow: scroll;
    margin-bottom: 4vw;
    padding: 0 1vw 0 6vw;
}

.header {
    width: 100vw;
}

.guidBtn {
    margin-top: -25vw;
    margin-left: 80vw;
    margin-bottom: 18vw
}

.schedule {
    background-image: url(../img/scheduleBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 95vw;
    margin: 2vw auto;
}

.scheduleTable table {
    width: 95%;
    text-align: center;
    color: white;
    margin: 0 auto;
    border-collapse: collapse;
}

.scheduleTable {
    padding: 2vw 0 5vw;
}

.scheduleTable td,
.scheduleTable th {
    border-bottom: 2px solid #ddd;
    padding-left: 0vw;
    padding-right: 0vw;
    width: 3vw;
    font-size: 2.5vw;
    padding: 1vw 0;
}

.scheduleTable th {
    font-size: 4vw;
}

.scheduleTable a {
    text-decoration: none;
    color: white;
}

.scheduleTable td img,
.scheduleTable th img {
    width: 5vw;
}

.title {
    font-size: 5vw;
    text-align: center;
    color: white;
}

.col2 {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-items: center;
    justify-content: space-evenly;
}

.reward {
    background-image: url(../img/rewardBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80vw;
    margin: 0 auto;
    padding: 5vw;
    margin-top: -5vw;
}

.column3 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2vw;
    padding-top: 2vw;
    justify-content: space-evenly;
}

.column2 {
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 2vw;
    justify-content: center;
}

.column1 {
    width: 20vw;
    margin: 0 auto;
    margin-top: 2vw;
}

button {
    background: transparent;
    border: none;
}

.left-right-btn {
    display: grid;
    grid-template-columns: 10% 100% 10%;
    justify-content: center;
}

#reward-description {
    font-size: 3.5vw;
    color: white;
    text-align: center;
    padding-top: 5vw;
}

.reward-title {
    width: 50vw;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#user-rank {
    width: 10vw;
    margin: 0 auto;
    padding: 2vw 0;
}

.footer {
    font-size: 5vw;
    color: white;
    text-align: center;
    margin: 3vw 0;
}